<section>
  <article class="episode general">
    <header>
      <time class="date">
        <%= @episode.published_date %>
      </time>
      <h2>
        <%= @episode.header %>
      </h2>
    </header>
    <section>
      <%= render 'player', url: audio_url(@episode.audio.url), name: @episode.header %>

      <%= link_to "Скачать эпизод в mp3 (#{number_to_human_size(@episode.audio.metadata['size'])})", audio_url(@episode.audio.url), target: '_blank', class: 'download' %>

      <div class="ui text">
        <%= image_tag(@episode.image[:small].url, class: 'ui image') %>
        <%= @episode.text %>
      </div>
    </section>
  </article>
</section>