<!DOCTYPE html>
<html>
  <head>
    <title>Подкаст о Тенерифе</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui main text container">
      <h1 class="ui header centered">
        Подкаст о Тенерифе
      </h1>

      <%= yield %>
    </div>
  </body>
</html>
